@tailwind base;
@tailwind components;
@tailwind utilities;

.card.hand:hover {
    @apply transform scale-110;
}

.card {
    display: inline-block;
    margin-left: -60px;
}

.board .play {
    margin-top: -215px;
    margin-left: 50px;
}

.board .play .card:nth-child(n+6) {
    margin-top: -130px;
}

.my-hand {
    width: 650px;
}

.hand.card:nth-child(n+8) {
    margin-top: -130px;
}

.spades, .clubs {
    color: black;
}

.hearts, .diamonds {
    color: red;
}
