@tailwind base;
@tailwind components;
@tailwind utilities;

.card.hand:hover {
    @apply transform scale-110;
}

.card {
    display: inline-block;
    margin-left: -60px;
}

.board .play {
    margin-top: -215px;
    margin-left: 50px;
}

.board .play .card:nth-child(n+6) {
    margin-top: -130px;
}

.hand.card:nth-child(n+15) {
    margin-top: -130px;
}
